<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jsf_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Outras Configurações -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Configuração de Criação do Banco de Dados -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapeamento das Entidades -->
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.Funcionario" />
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.Cargo" />
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.Cidade" />
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.Empresa" />
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.MeioDeTransporte" />
        <mapping class="br.edu.ifpr.bsi.projetodisciplina.model.Setor" />
    </session-factory>
</hibernate-configuration>
